@{
    ViewBag.Title = "Index";
}
<main class="container">
       <div class="container mt-5">
        <h1>Лабораторная работа 1</h1>
        
        <h2>Список</h2>
        <ol type="A">
            <li>элемент 1 списка</li>
            <li>элемент 2 списка</li>
        </ol>
        
        <div class="form-section">
            <h2>Форма</h2>
            <form method="get" action="">
                <!-- Checkboxes -->
                <div class="mb-3 offset-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkbox1" name="checkbox1">
                        <label class="form-check-label" for="checkbox1">
                            Чек-бокс 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkbox2" name="checkbox2">
                        <label class="form-check-label" for="checkbox2">
                            Чек-бокс 2
                        </label>
                    </div>
                </div>

                <!-- Radio buttons -->
                <div class="mb-3 offset-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radio1" name="radio" value="radio1">
                        <label class="form-check-label" for="radio1">
                            Радио-1
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radio2" name="radio" value="radio2">
                        <label class="form-check-label" for="radio2">
                            Радио-2
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radio3" name="radio" value="radio3">
                        <label class="form-check-label" for="radio3">
                            Радио-3
                        </label>
                    </div>
                </div>

                <!-- Login field -->
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Логин:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="login" placeholder="Введите имя">
                    </div>
                </div>

                <!-- Password field -->
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Пароль:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" placeholder="Введите пароль">
                    </div>
                </div>

                <!-- Submit button -->
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-submit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </main>
